$aboutme-text-background: $greybrown;
$aboutme-text-header-colour: $green;
$aboutme-text-color: $cream;
$aboutme-text-highlight-colour: $green;

$aboutme-bullet-color: $green;
$aboutme-bullet-image-color: $darkbrown;

.aboutme {
  background: $aboutme-text-background;

  @include media($medium-screen) {
    @include row(table);
  }

  .content {
    max-width: em(1440);
    margin: 0 auto;
    padding: 2em 2em 1em 2em;

    @include media($medium-screen) {
      padding: 4em;
    }
  }

  .introduction {

    h1 {
      margin-bottom: 1em;
      text-align: center;
      color: $aboutme-text-header-colour;

      @include media($medium-screen) {
        text-align: left;
      }
    }

    p {
      color: $aboutme-text-color;
      margin-bottom: 2em;
    }

    a{
      color: $aboutme-text-color;
      border-bottom: 1px dotted $aboutme-text-color;
      text-decoration: none;

      @include media($medium-screen) {
        &:hover{
          color: $aboutme-text-highlight-colour;
          border-bottom-color: $aboutme-text-highlight-colour;
        }
      }
    }

    @include reset-display();
  }
}

//
// Bullet Points
//

$icon-bullet-size: 3em;
$screen-multiplier: 1.25;

.bullets {
  clear: both;
  overflow: auto;
  @include outer-container;
  max-width: 100%;

  @include media($medium-screen) {
    padding-top: 2em;
  }

  h1 {
      margin-bottom: 1em;
      text-align: center;
      color: $aboutme-text-header-colour;

      @include media($medium-screen) {
        text-align: left;
      }
    }

  h2 {
    display: inline-block;
    font-size: $icon-bullet-size /2;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;

    @include media($medium-screen) {
      font-size: $icon-bullet-size*$screen-multiplier /2.5;
      padding-top: $icon-bullet-size*$screen-multiplier /7;
      margin-bottom: $icon-bullet-size*$screen-multiplier /6;
    }
  }

  // change to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n)
    }
  }

  // change to this for three bullet layout
  .three-col-bullet {
    @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n)
    }
  }

  // change to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n)
    }
  }

  .bullet-icon {
    background: $aboutme-bullet-color;
    border-radius: 50%;
    padding: $icon-bullet-size/4;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
    margin: 0 auto 1em;
    float: left;

    i {
      font-size: $icon-bullet-size/2.1;
      color: $aboutme-bullet-image-color;
    }

    @include media($medium-screen) {
      padding: $icon-bullet-size*$screen-multiplier/4;
      width: $icon-bullet-size*$screen-multiplier;
      height: $icon-bullet-size*$screen-multiplier;
      margin: initial;

      i{
        font-size: $icon-bullet-size*$screen-multiplier/2.1;
      }
    }
  }

  .bullet-content {
    margin-bottom: 2em;
    color: $aboutme-text-color;
    margin-left: $icon-bullet-size * $screen-multiplier * 1.4;

    .standard-content{
      display: none;

      @include media($medium-screen) {
        display: block;
      }
    }

    .expander {
      $expander-arrow-width: 0.7em;

      @include media($medium-screen) {
        display: none;
      }

      .expander-trigger {
        display: block;
        cursor: pointer;
        //border-bottom: 1px dotted $aboutme-text-color;

        &:before {
          content: "\25BC";
          margin-right: 0.5em;
        }
      }

      .expander-hidden {
        &:before {
          content: "\25BA";
        }
      }

      .expander-hidden + .expander-content {
        display: none;
      }
    }
  }
}
