.footer {
  $footer-background-color: $darkbrown;
  $footer-font-color: $cream;
  $footer-font-color-hover: $green;

  background: $footer-background-color;
  padding: 0 1.5em 1.5em;
  text-align: center;

  ul.footer-nav-links {
    padding-top: 2em;
    padding-bottom: 0.5em;

    li {
      font-size: 2em;
      font-weight: 700;
      display: inline;
      text-align: left;

      a {
        color: $footer-font-color;
        padding-right: 0.5em;

        &:last-child {
          padding-right: 0;
        }

        @include media($medium-screen){
          &:hover {
            color: $footer-font-color-hover;
          }
        }
      }
    }
  }

  .footer-copywrite {
    color: $cream;
    font-size: 1em;
    margin: 0;
  }

  .footer-top-link {
    display: inline-block;
    margin: 1.5em 0 0.5em;
    color: $footer-font-color;
    font-size: 1em;
    font-weight: 700;

    @include media ($medium-screen){
      &:hover {
        color: $footer-font-color-hover;
      }
    }

    i {
      display: block;
      font-size: 1.5em;
    }
  }
}
