.header {

  $header-image: '/img/Header_Image.jpg';
  $header-background-color: $darkbrown;
  $header1-font-color: $green;
  $header2-font-color: $cream;

  @include background-image(url($header-image));

  display: block;
  height: 100%;
  background-color: $header-background-color;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;

  .header-navigation {
    $nav-height: em(60);
    $nav-background-colour: transparentize($lightbrown, .2);
    $nav-font-color: $cream;
    $nav-font-color-hover: $green;
    $nav-font-color-mobile: $green;

    $nav-padding: 1em;
    $nav-logo-height: 2em;
    $nav-item-padding: 1em;
    $nav-submenu-padding: 1em;
    $nav-item-nudge: 2.2em;

    margin: auto;
    z-index: 999;
    background-color: $nav-background-colour;

    .header-navigation-wrapper {
      @include outer-container;
      @include clearfix;
      position: relative;
      z-index: 999;
    }

    ul.header-navigation-menu {
      -webkit-transform-style: preserve-3d;

      // stop webkit flicker

      clear: both;
      display: none;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 999;

      &.show {
        display: block;
      }

      @include media ($medium-screen) {
        display: block;
        text-align: center;
      }
    }

    //mobile view

    ul.header-navigation-menu-mobile {
      display: block;
      text-align: center;
      padding: 0.5em 0;
      .nav-link {
        padding: 0.25em 0;
      }

      @include media ($medium-screen) {
          display: none;
      }
    }

    // The nav items

    .nav-link:first-child {
      @include media($medium-screen) {
        margin-left: $nav-item-nudge;
      }
    }

    ul li.nav-link {
      display: block;
      line-height: auto;
      overflow: hidden;
      text-align: center;
      width: 100%;
      z-index: 9999;
      font-size: 1.25em;
      font-weight: 700;

      @include media($medium-screen) {
        display: inline;
        line-height: $nav-height;
        text-align: right;
        padding-right: $nav-submenu-padding;
        font-size: 1.25em;
      }

      @include media($large-screen){
        font-size: 1.5em;
      }

      a {
        color: $nav-font-color;
        padding-right: $nav-item-padding;
        &:last-child {
          padding-right: 0;
        }

        @include media($medium-screen) {
          &:hover {
            color: $nav-font-color-hover;
          }
        }
      }
    }

    .logo i {
      max-height: $nav-logo-height;
      vertical-align: middle;
      font-size: 1.5em;
    }
  }

  .header-inner {
    display: table;
    padding: 2em;
    text-align: center;
    height: 86%;
    width: 100%;

    @include media($medium-screen) {
      height: 90%;
    }

    .header-copy {
      display: table-cell;
      height: 100%;
      vertical-align: middle;

      h1 {
        color: $header1-font-color;
        font-size: 2.5em;
        margin-bottom: .5em;

        @include media($medium-screen) {
          font-size: 4em;
        }

        @include media($large-screen) {
          font-size: 6em;
        }
      }

      h2 {
        color: $header2-font-color;
        margin: auto;
        margin-bottom: 0.5em;
        font-size: 1.5em;

        @include media($medium-screen) {
          font-size: 2em;
        }

        @include media($large-screen) {
          font-size: 3em;
        }
      }
    }
  }
}
