$cream:         #EDEAE1; //RGB(237, 234, 225)
$lightbrown:    #292621; //RGB(41, 38, 33)
$darkbrown:     #181715; //RGB(24, 23, 21)
$greybrown:     #2F2C27; //RGB(47, 44, 39)
$green:         #FFFF00; //RGB(168, 209, 15)
//$green:         #A8D10F; //RGB(168, 209, 15)

$large-screen:  em(1224);
$medium-screen: em(600);
$small-screen:  em(320);
