@import 'base.scss';

//
// General Variables
//

$large-screen: 260px;
$medium-screen: 150px;

//
// Header Image
//

.header {

  $header-image: '/img/Header_Image.jpg';
  $header-background-color: #565656;
  $header-border-color: #565656;
  $header-text-color: black;

  @include background-image(url($header-image));

  background-color: $header-background-color;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
  background-size: cover;
  padding-bottom: 4em;
  border-top: 2px solid darken(transparentize($header-border-color, .2), 30);
  border-bottom: 2px solid darken(transparentize($header-border-color, .2), 30);

  .header-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $header-text-color;

    .header-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 6em;
        }
      }

      h2 {
        margin: auto;
        margin-bottom: .5em;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 3em;
        }
      }
    }
  }
}

//
// Header Toolbar;
//

.centered-navigation {
  $centered-navigation-font-color: black;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: transparentize(#004489, .3);
  $centered-navigation-color: transparentize($centered-navigation-font-color, .3);
  $centered-navigation-color-hover: $centered-navigation-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-top: 1px solid darken($centered-navigation-background, 6);
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;

// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;

// stop webkit flicker

    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 1.5em;
    font-weight: 700;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

    a {
        padding-right: $centered-navigation-item-padding;
        color: $centered-navigation-color;
        display: inline-block;

        &:hover {
          color: $centered-navigation-color-hover;
        }
      }
    }
  }

  .logo i {
    max-height: $centered-navigation-logo-height;
    vertical-align: middle;
    font-size: 1.5em;
  }
}

//
// Image Message
//

$side-image: '/img/Profile_Photo.jpg';
$side-image-pic-background: #565656;
$side-image-text-background: #E1E1D6;
$side-image-text-color-1: #565656;
$side-image-text-color-2: #004489;
$side-image-border-color: #565656;

.side-image {
  background: $side-image-text-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background-image(url($side-image));
    background-color: $side-image-pic-background;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
    }
  }

  .content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 4em 4em;
    }
  }

  .introduction h1 {
    margin-bottom: .9em;
  }


  .introduction p {
    color: $side-image-text-color-1;
    margin-bottom: 3em;
  }

  @include reset-display();
}

//
// Bullet Images
//

.bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;
  @include outer-container;

h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    border-bottom: 1px solid transparentize($side-image-text-color-1, .8);
    display: inline-block;
    color: $side-image-text-color-2;
  }

// change to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n)
    }
  }

// change to this for three bullet layout
  .three-col-bullet {
    @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n)
    }
  }

// change to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n)
    }
  }

  .bullet-icon {
    float: left;
    background: $base-accent-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin-left: $icon-bullet-size *1.4;
    margin-bottom: 2em;
    color: $side-image-text-color-2;
  }
}

//
// Grid of Images
//

.grid {

$grid-background-color: #D3D9DF;
$grid-title-text-color: black;
$grid-background-border-color: #565656;
$grid-background-border: 2px solid darken(transparentize($grid-background-border-color, .2), 30);
$grid-box-shadow-color: #565656;

background-color: $grid-background-color;
background-repeat: no-repeat;
background-position: top;
display: block;
background-size: cover;
padding-bottom: 4em;
padding-top: 4em;
border-top: $grid-background-border;

  .grid-title {
    margin-bottom: 2em;
    text-align: center;

    h1 {
      font-size: 1.6em;
      color: $grid-title-text-color;
      margin-bottom: 0.2em;

      @include media($large-screen) {
        font-size: 4em;
      }
    }
  }

@mixin grid-item-columns($columns) {
    width: (100% / 12) * $columns;
  }
  .grid-wrapper {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .grid-items {
    $grid-items-background: transparent;
    $grid-item-color: #E1E1D6;
    $grid-item-border-size: 9px;
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: black;
    $grid-item-height: 14em;
    $border-top-color:
      #002554,
      #415635,
      #74BBFB,
      #056693,
      #F4812A,
      #000000,
      #DA291C;

    @include clearfix;

    .grid-item {
      @include transition (all 0.2s ease-in-out);
      height: $grid-item-height;
      width: 100%;
      overflow: hidden;
      float: left;
      padding: 2em;
      background-color: $grid-background-color;
      border-top: $grid-item-border-size;
      border-bottom: $grid-item-border-size solid $grid-items-background;
      border-left: $grid-item-border-size /2 solid $grid-items-background;
      border-right: $grid-item-border-size /2 solid $grid-items-background;
      text-align: center;
      cursor: pointer;

      @include media($large-screen) {
        @include grid-item-columns($grid-item-columns);
      }

      @for $i from 1 to 8 {
        &:nth-child(#{$i}) {
          $border-from-list: nth($border-top-color, $i);

            border-top-color: $border-from-list;
            box-shadow: inset 0px 0px 1px 2px $grid-box-shadow-color;
            background-clip: padding-box;

        &:hover {
            box-shadow: inset 0px 0px 4px 4px $grid-box-shadow-color;
            }
          }
        }
     }

  .grid-item img {
      display: block;
      height: 3em;
      margin: auto;
      margin-bottom: 1em;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      margin: auto;
      color: transparentize($grid-item-color, .3);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background-color: $grid-title-text-color;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}
}

//
// Footer Toolbar
//

.wrapper-for-content-outside-of-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -7em;
}

html, body {
    height: 100%;
    margin:0;
}

.footer, .push {
    height: 17em;

    @include media($large-screen) {
        height: 7em;
    }
}

.footer {
  $footer-background-color: #004489;
  $footer-border-color: #004489;
  $footer-color: #E1E1D6;
  $footer-link-color: transparentize($footer-color, .6);
  $base-spacing: 1.5em;

  background: $footer-background-color;
  padding: $base-spacing;
  width: 100%;
  border-top: 2px solid darken(transparentize($footer-border-color, .2), 30);
  border-bottom: 2px solid darken(transparentize($footer-border-color, .2), 30);

  ul {
    text-align: center;
  }

  ul li {
    padding-right: 1em;
    font-weight: 600;

    &:first-child {
          padding-left: 1em;
      }

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {

    ul.footer-social {
      margin-top: 0.5em;
    }

    li {
      font-size: 1.5em;

      &:first-child {
          padding-left: 1em;
      }
    }
  }
}
