@import 'base.scss';

//
// General Variables
//

$large-screen: 260px;
$medium-screen: 150px;

html, body {
    height: 100%;
    margin:0;
}

//
// Header Image
//

.header {

  $header-image: '/img/Header_Image.jpg';
  $header-background-color: #565656;
  $header-border-color: #565656;
  $header-font-color: black;

  @include background-image(url($header-image));

  background-color: $header-background-color;
  background-repeat: no-repeat;
  background-position: top;
  display: block;
  background-size: cover;
  padding-bottom: 4em;
  border-top: 2px solid darken(transparentize($header-border-color, .2), 30);
  border-bottom: 2px solid darken(transparentize($header-border-color, .2), 30);

  .header-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $header-font-color;

    .header-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 6em;
        }
      }

      h2 {
        margin: auto;
        margin-bottom: .5em;
        line-height: 1.4em;

        @include media($large-screen) {
          font-size: 3em;
        }
      }
    }
  }
}

//
// Header Toolbar;
//

.centered-navigation {
  $nav-padding: 1em;
  $nav-logo-height: 2em;
  $nav-background: transparentize(#004489, .3);
  $nav-font-color: transparentize(#000000, .3);
  $nav-font-color-hover: #000000;
  $nav-height: 60px;
  $nav-item-padding: 1em;
  $nav-submenu-padding: 1em;
  $nav-submenu-width: 12em;
  $nav-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $nav-background;
  border-top: 1px solid darken($nav-background, 6);
  border-bottom: 1px solid darken($nav-background, 6);
  height: $nav-height;
  width: 100%;
  z-index: 9999;

// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;

// stop webkit flicker

    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }


// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $nav-item-nudge;
    }
  }

  ul li.nav-link {
    background: $nav-background;
    display: block;
    line-height: $nav-height;
    overflow: hidden;
    padding-right: $nav-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 1.5em;
    font-weight: 700;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $nav-height;

    a {
        padding-right: $nav-item-padding;
        color: $nav-font-color;
        display: inline-block;

        &:hover {
          color: $nav-font-color-hover;
        }
      }
    }
  }

  .logo i {
    max-height: $nav-logo-height;
    vertical-align: middle;
    font-size: 1.5em;
  }
}

//
// Image Message
//

$side-image: '/img/Profile_Photo.jpg';
$side-image-pic-background: #565656;
$side-image-text-background: #E1E1D6;
$side-image-text-color-1: #565656;
$side-image-text-color-2: #004489;
$side-image-border-color: #565656;

.side-image {
  background: $side-image-text-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background-image(url($side-image));
    background-color: $side-image-pic-background;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 3em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
    }
  }

  .content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 4em 4em;
    }
  }

  .introduction h1 {
    margin-bottom: .9em;
  }


  .introduction p {
    color: $side-image-text-color-1;
    margin-bottom: 3em;
  }

  @include reset-display();
}

//
// Bullet Images
//

.bullets {
  $icon-bullet-size: 3.5em;

  overflow: auto;
  @include outer-container;

h2 {
    font-size: $icon-bullet-size /2.5;
    padding-top: $icon-bullet-size /7;
    margin-bottom: $icon-bullet-size /6;
    border-bottom: 1px solid transparentize($side-image-text-color-1, .8);
    display: inline-block;
    color: $side-image-text-color-2;
  }

// change to this for two bullet layout
  .two-col-bullet {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n)
    }
  }

// change to this for three bullet layout
  .three-col-bullet {
    @include media($large-screen) {
    @include span-columns(4);
    @include omega(3n)
    }
  }

// change to this for four bullet layout
  .four-col-bullet {
    @include media($large-screen) {
      @include span-columns(3);
      @include omega(4n)
    }
  }

  .bullet-icon {
    float: left;
    background: $base-accent-color;
    padding: $icon-bullet-size /4;
    border-radius: 50%;
    width: $icon-bullet-size;
    height: $icon-bullet-size;
  }

  .bullet-icon-1 {
    background: $base-accent-color;
  }

  .bullet-icon-2 {
    background: adjust-hue($base-accent-color, -50);
  }

  .bullet-icon-3 {
    background: adjust-hue($base-accent-color, -140);
  }

  .bullet-content {
    margin-left: $icon-bullet-size *1.4;
    margin-bottom: 2em;
    color: $side-image-text-color-2;
  }
}

//
// Grid of Experience
//

$flex-boxes-background-color1: #989898;
$flex-boxes-background-color2: #565656;
$flex-boxes-background-color3: #D3D9DF;
$flex-boxes-background-border-color: #565656;
$flex-boxes-background-border: 2px solid darken(transparentize($flex-boxes-background-border-color, .2), 30);

$flex-boxes-title-text-color1: #000000;
$flex-boxes-title-text-color2: transparentize(#000000, .3);
$flex-boxes-title-text-color2-hover: #000000;

$flex-box-border-color: #565656;
$flex-box-border: 1px solid $flex-box-border-color;
$flex-box-background: #D3D9DF;
$flex-box-gutter: .4em;
$flex-box-width: 18em;
$flex-box-color: transparentize(#565656, .05);
$flex-box-top-colors:
  #002554,
  #415635,
  #74BBFB,
  #056693,
  #F4812A,
  #F4812A;
$flex-box-font-color: #565656;

.info {
  background:
    radial-gradient($flex-boxes-background-color2, transparent 16%) 0 0,
    radial-gradient($flex-boxes-background-color2, transparent 16%) 8px 8px,
    radial-gradient($flex-boxes-background-color3, transparent 20%) 0 1px,
    radial-gradient($flex-boxes-background-color3, transparent 20%) 8px 9px;
  background-color:$flex-boxes-background-color1;
  background-size:16px 16px;
  border-top: $flex-boxes-background-border;
  padding-top: 1em;
}

.flex-boxes-title {
  padding: 2em 0 2em 0;
  text-align: center;

  h1 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
    color:$flex-boxes-title-text-color1;

    @include media($large-screen) {
      font-size: 4em;
    }
  }

  h2 {
    font-style: sans-serif;
    font-size: 1.3em;

    a {
      color: $flex-boxes-title-text-color2;

      &:hover{
        color: $flex-boxes-title-text-color2-hover;
      }
    }
  }
}

.flex-boxes-wrapper {
     text-align: center;
     max-width: 80%;
     margin-left: auto;
     margin-right: auto;
     padding: 1em 0 4em;
}

.flex-boxes {
  @include clearfix;
  @include display(flex);
  @include justify-content(center);
  @include align-items(stretch);
  @include flex-wrap(wrap);
}

.flex-box {
  @include transition (all 0.2s ease-in-out);
  @include flex(2 2 15em);
  @include align-self(stretch);
  display: block;
  box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10);
  border-radius: $base-border-radius;
  margin: $flex-box-gutter;
  padding: 2em 2em 3em 2em;
  background: $flex-box-background;

  @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
    &:nth-child(#{$i}) {
      $color-from-list: nth($flex-box-top-colors, $i);
      border-top: 8px solid $color-from-list;

      &:hover {
        box-shadow: inset 0 0 10px 3px transparentize($color-from-list, .3), 0 2px 4px transparentize($color-from-list, .3);
      }
    }
  }
}

.flex-box img {
  display: block;
  max-height: 4em;
  margin: auto;
  margin-bottom: 2em;
}

.flex-box .flex-title {
  color: $flex-box-font-color;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: .5em;
}

.flex-box p {
  margin: auto;
  line-height: 1.5em;
  color: transparentize($flex-box-font-color, .1);
}

.flex-box-big {
  @include flex(1 1 40em);
}

//
// Footer Toolbar
//

.footer {
  $footer-background-color: transparentize(#004489, .3);
  $footer-background-color-hover: transparentize(#FFFFFF, .9);
  $footer-font-color: transparentize(#000000, .3);
  $footer-font-color-hover: #000000;

  background: $footer-background-color;
  padding-bottom: 1.5em;
  width: 100%;
  height: 100%;
  border-top: 2px solid darken($footer-background-color, 6);
  border-bottom: 2px solid darken($footer-background-color, 6);

  ul.footer-top-link {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;

    &:hover {
      color: $footer-font-color-hover;
      background: $footer-background-color-hover;
      a li {
        color: $footer-font-color-hover;
      }
    }

    a li {
      color: $footer-font-color;
      font-size: 1em;
      font-weight: 700;

      i {
        font-size:1.5em;
      }
    }
  }

  ul.footer-nav-links {
    padding-top: 0.5em;
    text-align: center;

    li {
      padding-right: 1em;
      font-size: 2em;
      font-weight: 700;

      &:first-child {
        padding-left: 1em;
      }

      @include media($large-screen) {
        display: inline;
        text-align: left;
      }

      a {
        color: $footer-font-color;

        &:hover {
          color: $footer-font-color-hover;
        }
      }
    }
  }
}
